# Data_Cleaning_Assignment

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis? <br>

Take this monstrosity as the DataFrame to use in the following puzzles:

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],<br>
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],<br>
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],<br>
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

In [ ]:
df

1. Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [ ]:
#df.FlightNumber[1] = 10055
#df.FlightNumber[3] = 10075

In [ ]:
for i in range(0,len(df.FlightNumber)):
    if pd.isna(df.FlightNumber[i]):
        df.FlightNumber[i] = df.FlightNumber[i-1] + 10

In [ ]:
df

In [ ]:
df.FlightNumber.dtypes

In [ ]:
df.FlightNumber = df.FlightNumber.astype('int')

In [ ]:
df

2. The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

In [ ]:
df1 = df.copy()

In [ ]:
df1

In [ ]:
temp = df1['From_To'].str.split('_', expand=True)

In [ ]:
df1['From'] = temp[0]
df1['To'] = temp[1]
df1.drop("From_To",axis=1,inplace=True)
df1

3. Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)

In [ ]:
df1.From = df1.From.str.capitalize()
df1.To = df1.To.str.capitalize()

In [ ]:
df1

4. Delete the From_To column from df and attach the temporary DataFrame
from the previous questions.

In [ ]:
df.drop('From_To',axis=1,inplace=True)
df

In [ ]:
df = pd.concat([df,df1])

In [ ]:
df

5. In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each
second value in its own column, and so on. If there isn't an Nth value, the value
should be NaN.<br>
Expand the Series of lists into a DataFrame named delays, rename the columns
delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df
with delays.

In [ ]:
delays = df.RecentDelays.apply(pd.Series)
delays.columns = ['delay1','delay2','delay3']
delays

In [ ]:
df.drop('RecentDelays',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df = df.join(delays)

In [ ]:
df.drop_duplicates("FlightNumber",keep='last')